header {
    background-color: #7023D7;
    color: aliceblue;
}
#username {
    font-size: 900;
}

body {
    min-height: -webkit-fill-available;

}

html {
height: -webkit-fill-available;
}
.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 120px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

.sidebar-sticky {
    height: calc(100vh - 120px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

main {
height: -webkit-fill-available;
overflow-x: auto;
overflow-y: hidden;
}

.dropdown-toggle { outline: 0; }

.btn-single {
padding: .40rem .5rem;
font-weight: 600;
color: rgba(0, 0, 0, .65);
background-color: transparent;
}
.btn-single:hover,
.btn-single:focus {
color: rgba(0, 0, 0, .85);
background-color: #d6bcf7;
}

.btn-toggle {
padding: .40rem .5rem;
font-weight: 600;
color: rgba(0, 0, 0, .65);
background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
color: rgba(0, 0, 0, .85);
background-color: #d6bcf7;
}

.btn-toggle::before {
width: 1.25em;
line-height: 0;
content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
transition: transform .35s ease;
transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
transform: rotate(90deg);
}

.btn-toggle-nav a {
padding: .1875rem .5rem;
margin-top: .125rem;
margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
background-color: #d6bcf7;
}

.snip-card:hover,
.snip-card:focus {
    box-shadow: 3px 3px 15px #d6bcf7;
}

#mainContainer h3,
#mainContainer h5,
#mainContainer h1 {
    color: white;
    letter-spacing: -3px;
    font-family: 'Syncopate', sans-serif;
}
#main2Container h3,
#main2Container h5,
#main2Container h4,
#main2Container h2 {
    color: black;
    letter-spacing: -3px;
    font-family: 'Syncopate', sans-serif;
}

#headerContainer h1 {
    color: #7023D7;
    letter-spacing: -3px;
    font-family: 'Syncopate', sans-serif;
}

#budgetContainer {
    background-color: #b34cf4;
}

#emergencyFContainer {
    background-color: #10f0b4;
}

#savingsContainer {
    background-color: #FF1D25;
}

#philHealth {
    background-color: #FCEE21;
}

#sss {
    background-color: #2fdafc;
}
#boxContainer {
    background-color: #f5f5f5
}
#boxContainer h3 {
    letter-spacing: -3px;
    font-family: 'Syncopate', sans-serif;
}
#offcanvasRight h2 {
    font-family: 'Syncopate', sans-serif;
}
.offcanvas-body {
    height: -webkit-fill-available;
    height: 100vh;
}